{%- if "Java" in ignores 
    or "Rust" in ignores
    or "RustLibrary" in ignores
    or "RustBinary" in ignores
    or "Target" in ignores
-%}
### Builds ###
target/

{% endif %}

{%- if "Rust" in ignores
    or "RustLibrary" in ignores
    or "RustBinary" in ignores
-%}
### Rust ###
# rustfmt
**/*.rs.bk
#MSVC
*.pdb{% if "RustLibrary" in ignores and not "RustBinary" in ignores %}
# Remove for executables, leave for libraries
Cargo.lock{% endif %}

{% endif %}

{%- if "IDEA" in ignores 
    or "Java" in ignores
    or "Rust" in ignores
    or "RustLibrary" in ignores
    or "RustBinary" in ignores
-%}
### IntelliJ IDEA project files ###
.idea/
*.iws
*.ipr
*.iml

{% endif %}

{%- if "Eclipse" in ignores
    or "Java" in ignores
-%}
### Eclipse project files ###
.project
.classpath
.settings/

{% endif %}
